registry=http://registry.npmjs.org/
@deppy:registry=http://registry.deppy-internal.com/
//registry.deppy-internal.com/scope/:_authToken=npm_blablaexamplelol
//registry.deppy-internal.com/:_authToken=${BBBB}
proxy = http://bob:pass@myproxy1.com/
https-proxy=http://${PASS}@myproxy2.com/
_auth = wAhY1L3PrGotxF25pzeEwQ==
